# Python
venv/
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3
instance/

# Environment Variables
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# AWS Keys
*.pem

# Monitoring / Jenkins
monitoring/
jenkins_home/

# Git
.git/