{% extends "base.html" %}
{% block title %}Add Bug{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="mb-3">Report a Bug</h4>

        <form method="post">
          <input class="form-control mb-3" name="title" placeholder="Bug Title" required>

          <textarea class="form-control mb-3" name="description" placeholder="Bug Description" required></textarea>

          <select class="form-select mb-3" name="severity">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
          </select>

          <button class="btn btn-danger w-100">Submit Bug</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

